@model string

@if (!string.IsNullOrEmpty(Model))
{
    <div class="alert alert-@(Model.StartsWith("Une erreur") ? "danger" : "success") alert-dismissible mt-3" role="alert">
        @Html.Raw(Model)
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}